<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Multiplayer Typing Test</title>

    <link rel="stylesheet" href="/assets/libs.css?v=d05f0097841a85375d8c89466bda74b8b4423cce">
    <link rel="stylesheet" href="/assets/base.css?v=d05f0097841a85375d8c89466bda74b8b4423cce">
    <link rel="stylesheet" href="/assets/share.css?v=d05f0097841a85375d8c89466bda74b8b4423cce">
    <link rel="stylesheet" href="/assets/game.css?v=d05f0097841a85375d8c89466bda74b8b4423cce">
  </head>
  <body>

    <div class="container">

      <div id="game">
        <div class="server-information">
          <div class="container">
            <div class="col-md-12">
              <div v-if="engineInfo">
                <div v-if="engineInfo.clientsCount" class="info info-server">
                  Number of players on the server: {{ engineInfo.clientsCount }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="lobby && lobby.players.length >= getMinimumPlayer() || lobby && lobby.startedWaitingTime" v-on:click="inputFocus">
          <div class="overlayer" v-bind:class="{ active: countdownWaiting }">{{ countdownWaiting }}</div>
        </div>

        <div v-else v-on:click="inputFocus">
            <div class="overlayer active"></div>
            <div class="overlayer-title">Waiting for additional players.</div>
        </div>

        <div class="container">
          <div class="map" v-if="lobby">

            <span class="status" v-if="me.stat.beating === 1">You won!</span>
            <span class="status" v-else-if="lobby.statusCode === 4 || lobby.statusCode === 5 && me.stat.beating === 1">Your opponent left. You won!</span>
            <span class="status" v-else-if="lobby.statusCode === 5">Your opponent left.</span>

            <playermap
              v-for="player in lobby.players"
              :key="player.id"
              v-bind:id="player.id"
              v-bind:username="player.username"
              v-bind:position="player.position"
              v-bind:wpm="player.wpm"
              v-bind:stat="player.stat"
              v-bind:status="player.status"
              v-bind:me="me.id"
            ></playermap>

          </div>

          <div class="zone" v-if="lobby && lobby.statusCode !== 3 && !me.stat.endTime">
            <div class="place-wrapper">
              <div class="place" v-bind:style="{ top: rowTop + 'px' }">
                <words
                  ref="words"
                  v-for="word in words"
                  v-bind:key="word.id"
                  v-bind:text="word.text"
                  v-bind:class="{
                    complete: (word.status === 'complete'),
                    highlight: (index === word.id),
                    error: (word.status === 'error')
                  }"
                ></words>
              </div>
            </div>

            <div class="interface-wrapper">
              <div class="interface">
                <!--<input type="text" :value="input" @input="update" ref="typeInput" v-on:keyup.32="send" :disabled="lobby.statusCode === 3" autofocus autocapitalize="none" autocorrect="off">-->
                <input type="text" :value="input" @input="update" ref="typeInput" :disabled="lobby.statusCode === 3" autofocus autocapitalize="none" autocorrect="off">
                <button type="button" name="button" v-on:click="newGame" class="btn btn-primary btn-new-game">New Game</button>
              </div>
              <div class="interface">
                <div v-if="countdown" class="timer">
                  {{ countdown }}
                </div>
              </div>
            </div>
          </div>

          <div v-else>

            <div class="game-result-wrapper" v-if="lobby">
              <div class="game-result more-game-result">
                <table class="game-result-table">
                  <thead>
                    <tr>
                       <th>Username</th>
                       <th>WPM</th>
                       <th>Keystrokes</th>
                       <th>Accuracy</th>
                       <th>Correct words</th>
                       <th>Wrong words</th>
                       <th>Times</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="player in orderBy(lobby.players, 'stat.beating')" v-if="player.stat.elapsedTime" :key="player.id">
                      <td>
                        {{ player.username }}
                      </td>

                      <td>
                        {{ player.wpm }}<br><small>(words per minute)</small>
                      </td>

                      <td>
                        <small>(<span class="correct">{{player.stat.keystrokes.correct}}</span> | <span class="wrong">{{player.stat.keystrokes.error}}</span>)</small>
                        <span>{{player.stat.keystroke}}</span>
                      </td>

                      <td> {{ player.stat.accuracy }}%</td>
                      <td> {{ player.stat.words.correct }}</td>
                      <td> {{ player.stat.words.error }}</td>
                      <td> {{ player.stat.elapsedTime }}</td>
                    </tr>

                    <!-- <tr>
                      <td id="share" class="share" colspan="7">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=10fastfingers.com/share-result/1_64_326_322_4_64_1_15" class="shot-hidden btn btn-primary btn-lg facebook-btn-tb" id="share-on-facebook-button" role="button">
                          <svg class="facebook" viewBox="0 0 512 512">
                            <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/>
                          </svg> Share on Facebook</a>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>

              <button type="button" name="button" v-on:click="newGame" class="btn btn-primary btn-new-game">New Game</button>
            </div>

          </div>

        </div>

        <div class="footer">
          <small v-if="serverInformation.version">Version: {{ serverInformation.version | substr(4) }}</small>
        </div>
      </div>

    </div>

    <script src="/assets/game.min.js?v=d05f0097841a85375d8c89466bda74b8b4423cce"></script>
  </body>
</html>
